* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(60, 94, 80);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 100px;
}

.container .button {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.container .button:hover {
    width: 300px;
}

.container .button i {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 70px;
    color: #000;
    text-align: center;
    line-height: 100px;
    vertical-align: bottom;
    transition: all 0.3s ease-out;
}

.container .button span {
    display: inline-block;
    width: 160px;
    text-align: center;
    border-radius: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100px;
}

.container .button:nth-child(1):hover i {
    background-color: rgb(6, 100, 212);
}

.container .button:nth-child(2):hover i {
    background-color: rgb(241, 111, 164);
}

.container .button:nth-child(3):hover i {
    background-color: rgb(60, 94, 80);
}

.container .button:nth-child(4):hover i {
    background-color: rgb(31, 35, 38);
}

.container .button:nth-child(5):hover i {
    background-color: rgb(212, 6, 85);
}

.container .button:nth-child(1):hover span {
    color: rgb(6, 100, 212);
}

.container .button:nth-child(2):hover span {
    color: rgb(241, 111, 164);
}

.container .button:nth-child(3):hover span {
    color: rgb(60, 94, 80);
}

.container .button:nth-child(4):hover span {
    color: rgb(31, 35, 38);
}

.container .button:nth-child(5):hover span {
    color: rgb(212, 6, 85);
}

.container .button:hover i {
    color: #fff;
}